.boton *
  color: white

.banner-interno__fondo
  background-image: url("../assets/curso/fondo-banner-interno.png") !important
  background-repeat: no-repeat 
.bg1
  background-image: url("../assets/curso/bg1.png")
  background-repeat: no-repeat   
.margin1
  margin-top: 30px
  margin-bottom: 30px
.bloque-texto-g.color-secundario
  background-color: #A7B4FF
.bloque-texto-g__texto
  width: 66%
.bg2
  background-image: url("../assets/curso/tema1/bg1.png")
  background-repeat: no-repeat   
.it
  font-style: italic
.tarjeta--azul
  background-color:#EEF0FF

.wii
  width: 840px
.bgfa
  background-color: #d4d9f6
.img-infografica-b__item__dot
  width: 300%;
  padding-top: 300%
 
.img-infografica-b__modal
  background-color: transparent
.img-infografica-b__modal__contenido div > * 
  color: #12263F !important
.bg3
  background-image: url("../assets/curso/tema1/bg3.png")
  background-repeat: no-repeat  
  @media screen and ( max-width: 420px )
    background-image: url("../assets/curso/tema1/bg35.png")
    background-repeat: no-repeat      
.bg31
  background-image: url("../assets/curso/tema1/bg3.1.png")
  background-repeat: no-repeat  
  @media screen and ( max-width: 420px )
    background-image: url("../assets/curso/tema1/bg35.png")
    background-repeat: no-repeat    
.bg32
  background-image: url("../assets/curso/tema1/bg32.png")
  background-repeat: no-repeat  
  @media screen and ( max-width: 420px )
    background-image: url("../assets/curso/tema1/bg35.png")
    background-repeat: no-repeat      
.bg33
  background-image: url("../assets/curso/tema1/bg33.png")
  background-repeat: no-repeat 
  @media screen and ( max-width: 420px )
    background-image: url("../assets/curso/tema1/bg35.png")
    background-repeat: no-repeat    
.bg34
  background-image: url("../assets/curso/tema1/bg34.png")
  background-repeat: no-repeat   
  @media screen and ( max-width: 420px )
    background-image: url("../assets/curso/tema1/bg35.png")
    background-repeat: no-repeat    
.bg35
  background-image: url("../assets/curso/tema1/bg35.png")
  background-repeat: no-repeat  
  @media screen and ( max-width: 420px )
    background-image: url("../assets/curso/tema1/bg35.png")
    background-repeat: no-repeat    
.bg36
  background-image: url("../assets/curso/tema1/bg36.png")
  background-repeat: no-repeat  
  @media screen and ( max-width: 420px )
    background-image: url("../assets/curso/tema1/bg35.png")
    background-repeat: no-repeat    
.bg4
  background-image: url("../assets/curso/tema2/bg1.png")
  background-repeat: no-repeat 
  margin-inline: -3rem
  padding-right: 3rem
  padding-left: 3rem
.bg5
  background-image: url("../assets/curso/tema3/bg1.png")
  background-repeat: no-repeat   
  margin-inline: -3rem
  padding-right: 3rem
  padding-left: 3rem
.bg6
  background-image: url("../assets/curso/tema3/bg2.png")
  background-repeat: no-repeat 
  margin-inline: -3rem
  padding-right: 3rem
  padding-left: 3rem 
.bg7
  background-image: url("../assets/curso/tema4/bg1.png")
  background-repeat: no-repeat  
  margin-inline: 0rem
  border-top-left-radius: 0px
  @media screen and ( max-width: 420px )
    background-image: url("../assets/curso/tema4/bg2.png")
    background-repeat: no-repeat  
.bg8
  background-image: url("../assets/curso/tema5/bg1.png")
  background-repeat: no-repeat  
  @media screen and ( max-width: 420px )
    background-image: url("../assets/curso/tema5/bg2.png")
    background-repeat: no-repeat  
.bgfa2
  background-color:#E9ECFF
.tabs-a.color-acento-botones .tabs-a__tab__selected
  color: white
.tabs-a__tab
  background-color: #E8E8E8
.tarjeta.color-acento-botones--borde
  border: none
  background-color: #DCDFEE
.col-lg-4.col-xl-3
  width: 300px
.col-lg-8.col-xl-9
  width: 500px
.tarjeta.color-acento-botones
  background-color: #EEF0FF
.img-infografica__item__dot
  width: 200%
  padding-top: 200%
.bgtext
  background-image: url("../assets/curso/tema5/sss.png")
  background-repeat: no-repeat  

.d-none.d-lg-block.col-lg-5.px-0.banner-principal__img
  img
    width: 80%
    margin-left: 100px
    margin-bottom: -45px
.margint1
  margin-top: 300px
.bloque-texto-g.color-secundario.p-3.p-sm-4.p-md-5.PT1
  .bloque-texto-g__img
    left: 50%
  .bloque-texto-g__texto
    right: 35%
.color1
  border-left-color: #F55D8B
.wis
  width: 50px
.titulo-segundo:after 
  border-left: solid 140px

.posit
  left: 53% !important
  background-size: contain
  background-repeat: no-repeat
  @media screen and ( max-width: 420px )
    width: 100% !important
    height: 49% !important
    left: 0 !important
    top: -1px !important
  &_1
    position: absolute
    top: -71px
    left: 200px
    width: 292px
    @media screen and ( max-width: 420px )
      left: 21px
      width: 71%
      top: -58px
    @media screen and ( max-width: 1300px )
      left: 57px
      width: 60%
      top: -48px
.mt3
  margin-bottom: -100px
.bloque-texto-g__texto 
    @media screen and ( max-width: 420px )
      width: 100%
.bloque-texto-g.color-secundario.p-3.p-sm-4.p-md-5.PT1 .bloque-texto-g__texto
    @media screen and ( max-width: 420px )
      right: 0%
.bloque-texto-g.color-secundario.p-3.p-sm-4.p-md-5.PT1 .bloque-texto-g__img
    @media screen and ( max-width: 420px )
      left: 0%
.img-infografica-b.color-primario.mb-5.img-infografica-b--open
    @media screen and ( max-width: 420px )
      .margint1
        margin-top: 80px
.row.p-3.bgfa
    @media screen and ( max-width: 420px )
      .col-sm-1
        width: 50%
        margin-right: auto
        margin-left: auto
.acordion__contenido
    @media screen and ( max-width: 420px )
      .col-md-2
        width: 50%
        margin-right: auto
        margin-left: auto
        margin-bottom: 20px 
.col-lg-8.mt-5
    @media screen and ( max-width: 420px )
      .col-lg-2
        width: 40%
        margin-right: auto
        margin-left: auto
.col-lg-10.bgtext.mt-5.mb-4
    @media screen and ( max-width: 420px )
      .col-lg-6
        margin-top: 20px
      .mt-5
        margin-top: 0rem!important
.img-infografica-b.color-primario.mb-5.img-infografica-b--open
  .img-infografica-b__item
      @media screen and ( max-width: 420px )
        top: 12.5%!important
.contenedor-especial
  cursor: pointer
.fondo2
.fondo1
  position: relative
  padding-bottom: 1rem
  p, img, h3, .fondo2
    position: relative
  &::before
    content: ""
    position: absolute
    top: 0
    left: 2.5%
    width: 134%
    height: 100%
    margin: 0 -5rem
    //background-color: #015EA4
    background-image: url("../assets/curso/tema12/img11.png")
    background-size: cover
    background-repeat: no-repeat
.bloque-texto-g-alrevez.bloque-texto-g
    justify-content: flex-start;
.bloque-texto-g-alrevez
  .bloque-texto-g__img
    right: 0 !important
    left: inherit !important
.justi
  margin-left: 70%
